<div class="settings-container ">
    <div class="settings-section rounded-md flex">
        <div class="lhs-section lhs-section-bg">
            <div class="search-icon flex justify-between items-center ">
                <div class="setting-header-icon rounded">
                    <img width="11" height="11" src="https://img.icons8.com/ios-glyphs/240/search--v1.png" alt="search--v1" />
                </div>
                <div class="current-menu">Settings</div>
                <div class="setting-header-icon rounded">
                    <img width="11" height="11" src="https://img.icons8.com/ios/250/menu--v7.png" alt="menu--v7" />
                </div>
            </div>
            <div class="settings-lhs-options">
                {{#each this.settingsOption as |setting index|}}
                <div class={{concat "setting-option relative flex items-center " (if (eq index this.currentScreen.id) " selected-setting ")}} onclick={{fn this.setCurrentScreen index}}>
                    <img class="setting-option-icon" src={{setting.icon}} />
                    <div class="settings-option-name">{{setting.name}}</div>
                    {{#if setting.bottomLine}}
                    <div class="setting-option-divider"></div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="rhs-section flex-grow flex flex-col">
          <div class="rhs-sectioin-heading flex items-center justify-between w-full h-9">
            <div></div>
            <div class="current-setting-menu">{{this.currentScreen.name}}</div>
            <WindowControl/>
          </div> 
           <div class="rhs-section-content">
             {{component (concat "settings/pages/" this.currentScreen.component)}}
           </div>   
        </div>
    </div>
</div>
{{yield}}