<div class="app-drawer flex  items-center flex-col" {{did-insert this.toggleDrawer}}>
    <div class="searchbox  flex items-center pl-3">
        <img src="/icons/searchicon.png" alt="" class="wh18 mr-1">
        <span class="text-xs">Type to search</span>
    </div>
    <div class="desktops-pans flex">
        <div class="desktop-one desktop-pane" {{did-insert this.insertDesktopImg}}>
        </div>
        <div class="desktop-two desktop-pane"></div>
    </div>

    <div class="all-app-list grid justify-center items-center grid-cols-6 grid-rows-3" {{did-insert this.openAppList}}>
        {{#each-in this.allList as | index app|}}
        <div class="app-container flex items-center flex-col " onclick={{fn this.openApp index}}>
            <div class="app-icon-wrap flex items-center flex-col">
                <img class="app-icon" src={{app.link}}/>
                <div class="app-name whitespace-nowrap text-center">{{app.name}}</div>
            </div>
        </div>
        
        {{/each-in}}
    </div>






</div>
{{yield}}