<div class="desktop-container flex" >
 
    <div class="taksbar">
        <div>
          <div class="applist">
            {{#each-in this.desktopservice.taskBarIcons as |index icon | }}
              <div class={{concat "taskbaricon " (if (eq index this.desktopservice.currentOpenedAppId ) " opened-app current-opened-app")}} onclick={{action this.setCurrentApp icon.component true index}}>
               <img src={{icon.link}} alt="">  
              </div>
            {{/each-in}}

          </div>
          <div class="startbtn" {{action this.openAppDrawer}}>
             <i class="fa-brands fa-ubuntu text-2xl text-white"></i>
          </div>
        </div>
    </div>
    <div class="topbar">
      <div class="currentactivity"></div>
      <div class="timebox" onclick={{action this.toggleCalendar}} >
        <div class="displaytime">{{this.taskBarTime}}</div>
         {{#if this.isTopCalendarOpen}}
          <Calendar @toggleCalendar={{action this.toggleCalendar}}/>
         {{/if}} 
      </div>
      <div class={{concat "shortcut flex items-center " (if this.isTopSettingOpen " shortcut-opened")}} onclick={{action this.toggleProperty}}>
        <div class="ethernet-menu relative mr-3">
           <img class="powerbtn" width="18" height="18" src="https://img.icons8.com/sf-ultralight-filled/75/FFFFFF/scan-wifi.png" alt="external-wifi-mobile-telephone-those-icons-fill-those-icons"/>            
          {{#if this.isTopSettingOpen}}
            <TopSettingContainer @toggleProperty={{action this.toggleProperty}}/>
          {{/if}}
        </div>
        <img src="https://img.icons8.com/ios-filled/100/FFFFFF/battery-.png"  width="18" height="18" class="powerbtn top-settings-icon"/>
      </div>
    </div>
 
   {{#if (eq this.desktopservice.currentApp.appName "app-drawer")}}
     {{component this.desktopservice.currentApp.appName }}
    {{!-- <InstalledApps::Ephiny::Web/> --}}
    {{!-- <SoftwareStore::SoftwareStore/> --}}
    {{/if }} 
    <div class="desktop-workspace">
         <div class="wallpaper" ></div>
      {{#if (and this.desktopservice.currentApp.appName (not (eq this.desktopservice.currentApp.appName "app-drawer")))}}
          {{component this.desktopservice.currentApp.appName }}
      {{/if}}   
      {{!-- <Files::FilesContainer/> --}}
     </div>
  




</div>
{{yield}}