<div class="desktop-container flex" >
 
    <div class="taksbar">
        <div>
          <div class="applist">
            {{#each-in this.desktopservice.taskBarIcons as |index icon | }}
              <div class={{concat "taskbaricon " (if (eq index this.desktopservice.currentOpenedAppId ) " opened-app current-opened-app")}} onclick={{action this.setCurrentApp icon.component true index}}>
               <img src={{icon.link}} alt="">  
              </div>
            {{/each-in}}

          </div>
          <div class="startbtn" {{action this.openAppDrawer}}>
             <i class="fa-brands fa-ubuntu text-2xl text-white"></i>
          </div>
        </div>
    </div>
    <div class="topbar">
      <div class="currentactivity"></div>
      <div class="timebox">
        <div class="displaytime">{{this.taskBarTime}}</div>
      </div>
      <div class="shortcut flex items-center"  onclick={{action this.toggleProperty}}>
        <div class="ethernet-menu relative">
          <img src="/icons/ethernet.png" alt="">
          {{!-- {{#if this.isTopSettingOpen}} --}}
            <TopSettingContainer/>
          {{!-- {{/if}} --}}
        </div>
        <img src="/icons/powerbtn.png" class="powerbtn"/>
      </div>
    </div>
 
   {{#if (eq this.desktopservice.currentApp.appName "app-drawer")}}
     {{component this.desktopservice.currentApp.appName }}
    {{!-- <InstalledApps::Ephiny::Web/> --}}
    {{!-- <SoftwareStore::SoftwareStore/> --}}
    {{/if }} 
    <div class="desktop-workspace">
         <div class="wallpaper" ></div>
      {{#if (and this.desktopservice.currentApp.appName (not (eq this.desktopservice.currentApp.appName "app-drawer")))}}
          {{component this.desktopservice.currentApp.appName }}
      {{/if}}   
     </div>
  




</div>
{{yield}}