<div class="desktop-container flex" >
    <div class="wallpaper" >

    </div>
    <div class="taksbar">
        <div>
          <div class="applist">
            {{#each-in this.taskBarIconList as |index icon | }}
              <div class={{concat "taskbaricon " (if (eq index this.desktopservice.currentOpenedAppId ) " opened-app current-opened-app")}}>
               <img src={{icon.link}} alt="">  
              </div>
            {{/each-in}}

          </div>
          <div class="startbtn" {{action this.setCurrentApp 'app-drawer' true 1}}>
             <i class="fa-brands fa-ubuntu text-2xl text-white"></i>
          </div>
        </div>
    </div>
    <div class="topbar">
      <div class="currentactivity"></div>
      <div class="timebox">
        <div class="displaytime">{{this.taskBarTime}}</div>
      </div>
      <div class="shortcut flex items-center"  onclick={{action this.toggleProperty}}>
        <div class="ethernet-menu relative">
          <img src="/icons/ethernet.png" alt="">
          {{#if this.isTopSettingOpen}}
            <TopSettingContainer/>
          {{/if}}
        </div>
        <img src="/icons/powerbtn.png" class="powerbtn"/>
      </div>
    </div>

   {{#if this.desktopservice.currentApp.appName}}
    {{component this.desktopservice.currentApp.appName}}
    {{!-- <Settings::SettingsContainer/> --}}
   {{/if }}




</div>
{{yield}}